body,
html {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.nav-menu-main {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.nav-menu-main ul {
  list-style: none;
}

.nav-menu-main a {
  color: #000000;
  text-align: center;
}

.nav-menu-main a:hover {
  color: #81b3d2;
}

.nav-menu-main a:active {
  color: #cacaca;
}

.heading-text {
  background-image: url("img/background_photo_main.png");
}

.card-style {
  text-align: center;
}

.card-style h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.card-style p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.blue-card {
  background-color: #81b3d2;
}

.blue-card h3 {
  color: #ffffff;
}

.block-advantages-another ul {
  list-style: none;
}

.grey-card {
  background-color: #eeeeee;
}

.search-text b {
  font-size: 30px;
}

.search-text span {
  font-size: 14px;
  color: #333333;
}

.search-hotel-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-hotel-button:hover,
.result-reservation-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active,
.result-reservation-button:active {
  color: #928a85;
  background-color: #503e33;
}

.main-footer b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.main-footer span {
  font-size: 14px;
  line-height: 26px;
}

.footer-logo a{
  text-decoration: none;
}

.footer-logo a:hover {
  background-color: #669ec0;
}

.footer-logo a:active {
  background-color: #5496bd;
}

/*--------------------стили catalog.html--------------------*/

.filters {
  background-image: url("img/filter_background.jpg");
  background-position: top center;
  color: #ffffff;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
}

.filter-input-checkbox:disabled {
  color: #6a6a6a;
}

.value-hotel {
  background-image: transparent;
}

.cost-per-day button {
  font-size: 14px;
  line-height: 21px;
  border: 2px white solid;
  background-image: transparent;
}

.cost-per-day button:hover {
  color: #000000;
  background-color: #ffffff;
}

.cost-per-day p {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.cost-per-day table {
  font-size: 14px;
  line-height: 21px;
}

.sorting-list a {
  color: #cacaca;
}

.sorting-block b {
  font-size: 21px;
  line-height: 26px;
}

.sorting-block span {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list .button {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list a {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sorting-list {
  list-style: none;
}

a.sorting-current {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-list .btn-list:hover {
  color: #81b3d2;
}

.sorting-list .btn-list:active {
  color: #000000;
  text-decoration: none;
}

.description-block h3 {
  font-size: 21px;
  line-height: 26px;
}

.description-block h3:hover {
  color: #81b3d2;
}

.description-block h3:active {
  color: #cacaca;
}

.description-block span {
  font-size: 14px;
  line-height: 21px;
}

.description-block a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.result-readmore-button {
  background-color: #81b3d2;
}

.result-readmore-button:hover {
  background-color: #669ec0;
}

.result-readmore-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.result-reservation-button {
  background-color: #766357;
}

.rating-block p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

/*--------------------стили поисковой формы--------------------*/

.search-forms {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.field-date-form,
.field-number-form {
  background-color: #f2f2f2;
}

.field-date-form:hover,
.field-number-form:hover {
  background-color: #ebebeb;
}

.field-date-form:focus,
.field-number-form:focus {
  background-color: #ffffff;
}

.button-counter-minus {
  font-size: 20px;
  font-weight: bold;
}

.button-counter-plus {
  font-size: 20px;
  font-weight: bold;
}
